In [10]:
import pandas as pd

In [22]:
df3 = pd.read_csv('DB.csv')
df3 = df3.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])
df3

DataBase.to_csv('DB.csv', header = True, index = False, encoding = 'utf-8')

In [25]:
df3.to_csv('DB.csv', index = False, encoding = 'utf-8')

In [26]:
df = pd.read_csv('DB.csv')

In [27]:
df

   일련번호 강아지이름  나이    견종 견주이름         연락처  의료정보1  의료정보2
0     0    보르   5  보르조이   꼬미  1011111111      1      2
1     1    뽀로  20    믹스  킹기훈          10      1      1
2     0   인절미   8    믹스   욘두          10      1      1
3     5     5   5     5    5           5      5      5

***

In [58]:
dog_age = input('나이 :')
if dog_age.isdigit() == False:
    print('no')
if dog_age.isdigit():
    print('yes')

no

In [30]:
dog_name = input("강아지의 이름 : ")
if len(dog_name) > 0:
    while True:
        age_answer = input("강아지의 나이 (숫자만 입력하세요): ")
        if age_answer.isdigit() == False:
            print('올바른 입력값이 아닙니다.')
            continue
        else:
            break
    if age_answer.isdigit():
        dog_age = age_answer

올바른 입력값이 아닙니다.

In [31]:
dog_age

'17'

In [34]:
owner_info = int(input('number :'))
owner_info = '0' + str(owner_info)

In [35]:
owner_info

'01093313422'

In [36]:
len(owner_info)

11

In [45]:
if len(owner_info) == 11:
    while True:
        sex_answer = input("강아지의 성별 (암/수) : ")
        if sex_answer not in ['암', '암컷', '수', '수컷']:
            print('올바른 입력값이 아닙니다.')
            continue
        else:
            break
    if sex_answer in ['암', '암컷']:
        dog_sex = 0
    if sex_answer in ['수', '수컷']:
        dog_sex = 1
if dog_sex in [0,1]: # 중성화 여부 입력
        while True:
            neu_answer = input('강아지의 중성화 여부 (Y/N) : ')
            if neu_answer not in ['y', 'Y', 'n', 'N']:
                print('올바른 입력값이 아닙니다.')
                continue
            else:
                break
        if neu_answer in ['n', 'N']:
            dog_neu = 0
        if neu_answer in ['y', 'Y']:
            dog_neu = 1

In [46]:
dog_sex

0

In [47]:
dog_neu

1

In [41]:
if dog_sex in [0,1]:
    print('correct')

correct

In [54]:
test = input('number')

In [55]:
test

'1.5'

In [53]:
if isinstance(test, int) == False:
    print('wrong answer')
if isinstance(test, int):
    print('correct')

correct

In [23]:
while True:
  try:
    num = int(input("Enter an integer number: "))
    break
  except ValueError:
      print("Please input integer only...")  
      continue
answer = num

In [25]:
answer = '0' + str(answer)
answer

'01093313422'

In [7]:
while True:
    try:
        time = float(input("How much time has elapsed since your last stop (in hours)?"))
        break
    except ValueError:
        print("Enter a valid number of hours!")
        continue

In [8]:
#time = float(input('테스트'))
time

3.0

In [16]:
DataBase = pd.DataFrame(columns=['일련번호', '강아지이름', '나이', '견종', '견주이름', '연락처', '성별', '중성화', '체중'])
DataBase

Empty DataFrame
Columns: [일련번호, 강아지이름, 나이, 견종, 견주이름, 연락처, 성별, 중성화, 체중]
Index: []

In [19]:
DataBase.to_csv('DB.csv', index = False, encoding = 'cp949')

In [20]:
df = pd.read_csv('DB.csv', encoding='cp949')

In [21]:
df

Empty DataFrame
Columns: [일련번호, 강아지이름, 나이, 견종, 견주이름, 연락처, 성별, 중성화, 체중]
Index: []

In [26]:
id = [0,1,2,3,4,5]
dog_name = ['은비', '금비', '하루', '욘두', '라떼', '엘리']
dog_age = [5,6,7,8,9,10]
dog_sp= ['포메라니안', '포메라니안', '시츄', '말티즈', '푸들', '보르조이']
owner_name = ['희원', '민호', '진서', '영훈', '창훈', '기훈']
owner_info = ['01099999999', '01088888888', '01077777777', '01066666666', '01055555555', '01044444444']
dog_sex = [0,0,1,1,0,0]
dog_neu = [0,1,0,1,0,1]
dog_wght = [3, 3.5, 4, 4.5, 5, 5.5]

In [28]:
dog_name[0]

'은비'

In [29]:
for i in range(6):
    input_data = {'일련번호': id[i], '강아지이름': dog_name[i], '나이': dog_age[i], '견종':dog_sp[i], '견주이름':owner_name[i], 
              '연락처':owner_info[i], '성별':dog_sex[i], '중성화':dog_neu[i], '체중' : dog_wght[i]}
    DataBase.loc[len(DataBase)] = input_data
DataBase

  일련번호 강아지이름  나이     견종 견주이름          연락처 성별 중성화   체중
0    0    은비   5  포메라니안   희원  01099999999  0   0    3
1    1    금비   6  포메라니안   민호  01088888888  0   1  3.5
2    2    하루   7     시츄   진서  01077777777  1   0    4
3    3    욘두   8    말티즈   영훈  01066666666  1   1  4.5
4    4    라떼   9     푸들   창훈  01055555555  0   0    5
5    5    엘리  10   보르조이   기훈  01044444444  0   1  5.5

In [30]:
DataBase.to_csv('DB.csv', index = False, encoding = 'cp949')

In [31]:
df_1 = pd.read_csv('DB.csv', encoding = 'cp949')
df_1

   일련번호 강아지이름  나이     견종 견주이름         연락처  성별  중성화   체중
0     0    은비   5  포메라니안   희원  1099999999   0    0  3.0
1     1    금비   6  포메라니안   민호  1088888888   0    1  3.5
2     2    하루   7     시츄   진서  1077777777   1    0  4.0
3     3    욘두   8    말티즈   영훈  1066666666   1    1  4.5
4     4    라떼   9     푸들   창훈  1055555555   0    0  5.0
5     5    엘리  10   보르조이   기훈  1044444444   0    1  5.5